name: C - Terraform Ouput

on: workflow_dispatch

jobs:
  terraform_plan:
    name: "Terraform output"
    env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v3

    - name: Verify Terraform version
      run: terraform --version

    - name: Terraform init
      run: terraform init -input=false

    - name: Terraform validation
      run: terraform validate

    - name: Terraform output
      run: terraform output
