name: X - Terraform Destroy

on: workflow_dispatch

jobs:
  terraform_plan:
    name: "Terraform plan"
    env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - uses: actions/checkout@v3

    - name: Terraform init
      run: |
        terraform init \
          -input=false \
          -backend-config="bucket=${{ secrets.BUCKET}}" \
          -backend-config="dynamodb_table=${{ secrets.DYNAMODB_TABLE}}"

    - name: Terraform destroy
      run: |
        terraform apply -destroy -auto-approve -input=false \
          -var "pub_key_data=${{ secrets.ID_RSA_WEBODM}}"
