name: Z - Terraform State Remove

on: workflow_dispatch

jobs:
  terraform:
    name: "Terraform state remove"
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Terraform init
      id: init
      run: |
        terraform init \
          -input=false -no-color \
          -backend-config="bucket=${{ secrets.BUCKET}}" \
          -backend-config="dynamodb_table=${{ secrets.DYNAMODB_TABLE}}"

    - name: Terraform state
      id: state
      run: |
        terraform state rm